.sign-in_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2999bb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 500px;
  height: 600px;
}

.sign-in_content h1 {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 400;
  color: #FFFFFF;
}

.sign-in_title h2 {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 400;
  color: #FFFFFF;
}

.sign-in_form input {
  padding: 12px 55px;
  margin: 8px 0;
  background: #FFFFFF;
  border: none;
}

.sign-in_button {
  margin: 20px;
}

.sign-in_submit {
  margin-top: 4;
	border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: #2999bb; 
  color: #FFFFFF;
  text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}