.room_content {
  height: 100vh;
  display: flex;
}

.room_content_creation {
  background-color: #2999bb;
  width: 220px;
  height: 100vh;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: scroll;

  ul {
    list-style-type: none;
    padding: 0 10px;
    text-align: left;
  }

  li {
    width: 100%;
    background: #ffffff;
    margin: 30px;
    font-style: 'Roboto', sans-serif;
  }

  .username span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 15px;
  }

  .username-date  {
    font-weight: 200;
    font-size: 10px;
    color: rgba(66, 66, 61, 0.466);
  }
}

.room_content_form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.room_content_form input {
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 100vh;
  margin-left: 300px;
  color: white;
  background-color: rgb(41, 153, 187);
  margin-bottom: 10px;
  margin-right: 5px;
}

// .send_message_input {
// }

.send_message_button button {
  border: 1px solid rgba(41, 153, 187, 0.7);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  i {
    color: rgba(41, 153, 187, 0.7);
  }
}