.sign-up_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 500px;
  height: 600px;
}

.sign-up_title h2 {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 500;
}

.sign-up_form input {
  padding: 12px 55px;
  margin: 8px 0;
  background: #eee;
  border: none;
}

.sign-up_button {
  margin: 20px;
}

.sign-up_submit {
	border-radius: 20px;
	border: 1px solid #2999bb;
	background-color: #2999bb;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}