.Home_message {
  text-align: center;
  font-size: 30px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  left: 300px;
  right: 0;
}