.Rooms {
  margin: 0;
  list-style: none;
  padding: 0;
  flex: 1 1;
}

.Rooms_button {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 6px;
  transition: .3s ease-out;
  transition-property: color, background-color;
  cursor: pointer;
  
  &::before {
    content: "#";
    margin-right: 5px;
  }

  &:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, .1),
  }
}